<turbo-frame id="admin_category_main">
  <div class="container mx-auto p-4 max-w-2xl">
    <div class="my-8">
      <div class="p-4 bg-white border border-gray-200 rounded-lg lg:p-8">
        <h1 class="h3 mb-4">Age Group Categories</h1>
        <% if params[:edit].present? %>
          <% category = @age_group_categories.find { |c| c.id.to_s == params[:edit] || c.slug == params[:edit] } %>
          <% if category %>
            <%= form_with model: [:admin, category], url: admin_age_group_category_path(category), method: :patch, local: true, class: "flex gap-2 items-center mb-4" do |f| %>
              <%= f.text_field :name, value: category.name, class: "form-control w-1/2" %>
              <%= f.submit 'Save', class: 'btn btn-primary btn-xs' %>
              <%= link_to 'Cancel', admin_age_group_categories_path, class: 'btn btn-secondary btn-xs' %>
            <% end %>
          <% end %>
        <% end %>
        <ul class="divide-y divide-gray-200 mb-4">
          <% @age_group_categories.each do |category| %>
            <li class="flex items-center justify-between py-2">
              <span>
                <%= category.name %>
                <% if category.spaces.any? %>
                  <span class="text-xs text-gray-500 ml-2">(
                    <%= pluralize(category.spaces.count, 'space') %> assigned
                  )</span>
                <% end %>
              </span>
              <div class="flex gap-2">
                <%= link_to 'Edit', admin_age_group_categories_path(edit: category.slug), class: 'btn btn-secondary btn-xs' %>
                <%= button_to 'Delete', admin_age_group_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs', form: { style: 'display:inline' }, disabled: category.spaces.any? %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= form_with model: @age_group_category, url: admin_age_group_categories_path, method: :post, local: true, class: "flex gap-2 items-center" do |f| %>
          <%= f.text_field :name, placeholder: "Add new category", required: true, class: "form-control w-1/2" %>
          <%= f.submit "Add", class: "btn btn-primary btn-xs" %>
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>
