<%= turbo_stream.update "membership-actions" do %>
  <%= render partial: "membership_actions", locals: { space: @space, membership: @membership } %>
<% end %>

<%= turbo_stream.replace "member-count" do %>
  <p id="member-count" class="text-sm text-gray-600">
    <%= pluralize(@space.memberships.count, 'member') %>
  </p>
<% end %>

<%# Update the create post button in the header %>
<%= turbo_stream.update "create-post-header" do %>
  <% if @membership %>
    <%= render "posts/new_modal_form", space: @space, button_class: "btn btn-primary" %>
  <% end %>
<% end %>

<%# Update the create post button in the empty state %>
<%= turbo_stream.update "create-post-empty" do %>
  <% if @membership %>
    <%= render "posts/new_modal_form", space: @space, button_class: "btn btn-primary" %>
  <% end %>
<% end %>







